#mint{
    background-color:#E6EFED;
}

#bg-dark-override{
    background-color: #1a1a1a;
}

div a {
    color:black;
    text-decoration:none;
}

p a {
    color:#007bff;
    text-decoration: underline;
    
}



#extend-to-fill{
    min-height: 80vh;
}

